<section class="hero-wrap hero-wrap-2" style="background-image: url('../../images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-center">
        <div class="col-md-9    pb-5 text-center">
          <h1 class="mb-3 bread">Vicotria University of Wellington</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-degree-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8   ">
             
            <img src="../../images/image_1.jpg" alt="" class="img-fluid">
           
          <h3>Vice Chancellor</h3>
           Professor Grant Guilford <br>

          <h3>Location/Campuses</h3>
           <ul>
            <li>Kelburn campus</li>
            <li>Pipitea campus</li>
            <li>Te Aro campus</li>
            <li>Miramar Creative Centre</li>
          </ul> <br>

          <h3>Date Established</h3>
           1897 <br>

          <h3>Numbers of Students</h3>
           <ul>
            <li>Student headcount: over 21,000</li>
            <li>Equivalent full-time students: nearly 17,000</li>
          </ul> <br>
          <h3>Specialisation/s</h3>
           
            <ul>
              <li>Governing for the future</li>
                <li>Living and making the Wellington vibe</li>
                  <li>Being Asia-Pacific globally minded</li>
                  <li>Thriving through creativity</li>
                  <li>Honouring Te Tiriri o Waitangi</li>
                  <li>Commitment to sustainability and wellbeing</li>
            </ul>
           <br>

          <h3>Rankings / awards</h3>
           
            <ul>
              <li>Overall, Wellington University is in the top 2 percent of the world’s 18,000
                universities.</li>
                <li>In 19 subject areas, Wellington University is among the top 1 percent of the
                  world’s universities (2020 QS World University Rankings by Subject)</li>
                  <li>The University is ranked in the top 100 universities in the world for 12 subjects in
                    total: Earth and Marine Sciences, English Language and Literature, Geography,
                    Geology, Hospitality and Leisure Management, Law, Library and Information
                    Management, Lingui</li>
                    <li>Wellington University is New Zealand’s top-ranked university for intensity of high-
                      quality research (2018 Performance-Based Research Fund).</li>
                      <li>Wellington School of Business and Government is one of an elite group of
                        commerce faculties worldwide that hold the Triple Crown of international
                        accreditations of EQUIS, AACSB (Business) and AMBA.</li>
            </ul>
           <br>
           
            Victoria has eight faculties that conduct teaching and research:
            <ul>
              <li>Wellington Faculty of Architecture and Design Innovation</li>
              <li>Wellington Faculty of Education</li>
              <li>Wellington Faculty of Engineering</li>
              <li>Wellington Faculty of Health</li>
              <li>Wellington Faculty of Humanities and Social Sciences</li>
              <li>Faculty of Law</li>
              <li>Wellington Faculty of Science</li>
              <li>Wellington School of Business and Government</li>
            </ul>
           <br>
           
            The University is also home to more than 40 research centres conducting world-leading
research in areas ranging from climate change and carbohydrate chemistry to
engineering and applied physics.
           <br>
           
            In 2019, the University received $81.3 million in external research income.
           <br>
           
            In 2019, there were 2,178 publications resulting from the work of the University’s
researchers.
           <br>
           
            In addition the University is home to:
            <ul>
              <li>Adam Art Gallery - Te Pātaka Toi, which presents a year-round programme of
                exhibitions, events and publications</li>
                <li>
                  International Institute of Modern Letters, which hosts the University’s Creative
Writing programme and has seen many of its alumni establish successful writing
careers
                </li>
                <li>
                  The New Zealand School of Music—Te Kōkī the country’s preeminent tertiary
institution for music study.
                </li>
            </ul>
           <br>
        </div> <!-- .col-md-8 -->
        <div class="col-lg-4 sidebar   ">
          <div class="sidebar-box">
          </div>
      </div>
    </div>
  </section> <!-- .section -->

  <section class="ftco-section ftco-no-pt ftco-no-pb bg-primary">
    <div class="container py-4">
      <div class="row d-flex justify-content-center">
        <div class="col-md-7    d-flex align-items-center">
        </div>
        <div class="col-md-5 d-flex align-items-center">
          <form action="#" class="subscribe-form">
            <div class="form-group d-flex">
              <input type="submit" value="Download a Guide Book" class="submit px-3 mr-2">
              <input type="submit" value="Ask an Advisor" class="submit px-3">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>