    
    <div class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9    pb-5 text-center">
              <h1 class="mb-3 bread">The University of Canterbury</h1>
            </div>
          </div>
        </div>
      </div>
  
      <div class="ftco-div ftco-degree-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-8   ">
                 
                <img src="../../images/image_1.jpg" alt="" class="img-fluid">
               
              <h3>Vice Chancellor</h3>
               Professor Cheryl de la Rey <br>
  
              <h3>Location/Campuses</h3>
               <ul>
                <li>Ōtautahi, Christchurch</li>
  
              </ul> <br>
  
              <h3>Date Established</h3>
               1873 <br>
  
              <h3>Numbers of Students</h3>
               <ul>
                <li>Student headcount: 17, 136</li>
                <li>Equivalent full-time students: 33,118</li>
              </ul> <br>
  
              <h3>Specialisation/s</h3>
               
                <ul>
                  <li>College of Arts | Te Rāngai Toi Tangata</li>
                    <li>College of Business and Law | Te Rāngai Umanga me te Ture</li>
                      <li>College of Education, Health and Human Development | Te Rāngai Ako me te
                        Hauora</li>
                        <li>College of Engineering | Te Rāngai Pūkaha</li>
                        <li>College of Science | Te Rāngai Pūtaiao</li>
                </ul>
               <br>
  
              <h3>Rankings / awards</h3>
               
                <ul>
                  <li>UC is ranked 227= in the QS World University Rankings 2020</li>
                </ul>
                UC is ranked in the top 150 in the following subjects (QS World University Rankings by
  Subject):
                <ul>
                  <li>Accounting</li>
                  <li>Civil Engineering</li>
                  <li>Finance</li>
                  <li>Geography</li>
                  <li>Geology</li>
                  <li>Law</li>
                  <li>Linguistics</li>
                  <li>Taxation and Accounting</li>
                  <li>Water and Environmental Systems Engineering</li>
                </ul><br>
  
                UC is ranked first in New Zealand for the following subjects (Performance-Based
  Research Fund (PBRF) 2018):
                <ul>
                  <li>Ecology, evolution and behaviour</li>
                  <li>Marketing and tourism</li>
                  <li>Political science, international relations and public policy</li>
                  <li>Public health</li>
                </ul>
               <br>
               
                Times Higher Education (THE) ranked UC in the top 301-350 universities in the world,
  in 2019.
               <br>
               
                <a href="https://www.canterbury.ac.nz/get-started/why-uc/prestigious/top-uni/university-ranking/">See UC’s international rankings and accreditations</a>
               <br>
               
                The University of Canterbury | Te Whare Wānanga o Waitaha (UC) is a community of
  change makers. UC students, staff and researchers are engaged, empowered and
  making a difference through local engagement, global connection and impactful
  research.
               <br>
               
                UC offers 80+ subjects across five colleges:
                <ul>
                  <li>College of Arts | Te Rāngai Toi Tangata</li>
                  <li>College of Business and Law | Te Rāngai Umanga me te Ture</li>
                  <li>College of Education, Health and Human Development | Te Rāngai Ako me te
                    Hauora</li>
                  <li>College of Engineering | Te Rāngai Pūkaha</li>
                  <li>College of Science | Te Rāngai Pūtaiao</li>
                </ul>
               
               
                UC students become well-rounded graduates who are competent in their chosen field of
  study and also innovative, connected, bicultural, global citizens. UC qualifications are
  recognised worldwide and UC graduates go on to high-calibre employment in business,
  Government, and NGO sectors, or are accepted into prestigious university programmes
  and secure research and teaching positions around the world.
               <br>
              <h3>The UC lifestyle</h3>
               
                UC is situated in the Christchurch suburb of Ilam, a ten-minute drive from the city centre
  and close to both mountains and the sea, providing an enviable student lifestyle.
               <br>
               
                UC’s unique campus is set within 87 hectares of beautifully landscaped grounds and all
  of our halls of residence are within easy walking distance of the campus. Our 18,000
  students enjoy state-of-the-art laboratories, and research and learning spaces, many of
  which were refurbished or designed and built within the last decade.
               <br>
               
                The UC Students’ Association (UCSA) and its network of student clubs and societies is
  thriving. With over 150 student clubs and cultural groups there is bound to be a group
  dedicated to your interests to get involved in, and to meet people.
               <br>
              <h3>Student support</h3><br>
               UC is committed to enabling and supporting students to thrive and succeed by providing
                a wide range of support services on campus. Support on campus includes academic,
                health and medical services as well as facilities to support wellbeing and rainbow
                diversity. <br>
                <h3>Research and teaching</h3><br>
                 
                  Teaching and learning at UC is research-led by academics who are experts in their
  field. Teaching programmes at UC change frequently to keep up with global changes
  and trends, ensuring qualifications remain relevant.
                 <br>
                 
                  Much of UC’s world-class research is carried out within our 35 recognised research
  centres, institutes and field stations. The University boasts an extensive network of
  research field stations across the globe, with sites in Antarctica and Nigeria (as part of
  the Nigerian Montane Forest conservation project) and the country’s leading
  astronomical research facility within an International Dark Sky reserve at Mount John,
  Tekapo.
                 
  
            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar   ">
              <div class="sidebar-box">
  
              </div>
  
  
  
  
          </div>
        </div>
      </div> <!-- .div -->
  
      <div class="ftco-div ftco-no-pt ftco-no-pb bg-primary">
        <div class="container py-4">
          <div class="row d-flex justify-content-center">
            <div class="col-md-7    d-flex align-items-center">
            </div>
            <div class="col-md-5 d-flex align-items-center">
              <form action="#" class="subscribe-form">
                <div class="form-group d-flex">
                  <!--<input type="submit" value="Download a Guide Book" class="submit px-3 mr-2">
                  <input type="submit" value="Ask an Advisor" class="submit px-3">-->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>