 
    <div class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9    pb-5 text-center">
              <h1 class="mb-3 bread">University of Auckland</h1>
            </div>
          </div>
        </div>
      </div>
  
      <div class="ftco-div ftco-degree-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-8   ">
                 
                <img src="../../images/image_1.jpg" alt="" class="img-fluid">
               
              <h3>Vice Chancellor</h3>
               Professor Dawn Freshwater <br>
  
              <h3>Location/Campuses</h3>
               <ul>
                <li>City Campus</li>
                <li>Grafton Campus</li>
                <li>Epsom Campus</li>
                <li>Newmarket Campus</li>
                <li>Tamaki Campus</li>
                <li>Tai Tokerau Campus (Whangarei)</li>
              </ul> <br>
  
              <h3>Date Established</h3>
               1883 <br>
  
              <h3>Numbers of Students</h3>
               <ul>
                <li>Student headcount: 41,866 </li>
                <li>Equivalent full-time students: 33,118</li>
              </ul> <br>
              <h3>Rankings / awards</h3>
               
                <ul>
                  <li>Highest-ranked New Zealand university in the QS World University Rankings (at
                    81 in 2016-2017)</li>
                    <li>New Zealand&#39;s only university included in the Times Higher Education’s top 200
                      world universities (at 165= in 2016-2017)</li>
                      <li>Inaugural Reuters Top 75: most innovative university in New Zealand and
                        Australia</li>
                </ul>
               <br>
               
                The University of Auckland has the most comprehensive range of courses in New
  Zealand, with teaching and research conducted over eight faculties and two large-scale
  research institutes. It is the only New Zealand university that offers both Medicine and
  Engineering.
               <br>
               
                In the  QS World University Rankings by Subject , the University of Auckland is ranked
  first in New Zealand in 37 of the 40 subjects, featuring in the top 50 in the world in
  16 subjects.  It is the highest ranked New Zealand university for graduate employability
  (QS 2016 World University Ranking) and for employer and academic reputation (QS
  2016 World University Ranking).
               <br>
               
                The University of Auckland is New Zealand’s largest research organisation with more
  than 12,000 staff and postgraduate students involved in fundamental and applied
  research. The University generates more than $200 million in annual research revenue.
               <br>
               
                The University has a strong Graduate Office, a strong focus on doctoral studies and on
  cross-disciplinary and cross-faculty research.
               <br>
               
                The University is located in the harbour city of Auckland, New Zealand’s economic and
  cultural hub, with easy access to stunning beaches and rainforests.
               <br>
               
                Auckland was ranked third out of 230 cities in the 2017 Mercer Quality of Living Survey,
  and in the top 30 of the QS Best Student Cities 2016.
               
               
                The University has five main campuses, the largest of which is nestled within Auckland&#39;s
  bustling cultural and business hub. From theatres and cafes, to sports and outdoor
  pursuits, there are myriad recreational opportunities right on their doorstep.
               
  
            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar   ">
              <div class="sidebar-box">
  
              </div>
  
  
  
  
          </div>
        </div>
      </div> <!-- .div -->
  
      <div class="ftco-div ftco-no-pt ftco-no-pb bg-primary">
        <div class="container py-4">
          <div class="row d-flex justify-content-center">
            <div class="col-md-7    d-flex align-items-center">
            </div>
            <div class="col-md-5 d-flex align-items-center">
              <form action="#" class="subscribe-form">
                <div class="form-group d-flex">
                  <input type="submit" value="Download a Guide Book" class="submit px-3 mr-2">
                  <input type="submit" value="Ask an Advisor" class="submit px-3">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>