    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('../../assets/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9    pb-5 text-center">
              <h1 class="mb-3 bread">Visas & Permits for International students</h1>
            </div>
          </div>
        </div>
      </section>
  
      <section class="ftco-section ftco-degree-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 order-md-last   ">
                  
                <img src="../../assets/practice-1.jpg" alt="" class="img-fluid">
                
              <h2 class="mb-3">Student visas</h2>
                If you are an international student you are required by law to hold a valid visa for the duration of
                 your study in New Zealand Universities. This page describes the applying process and the documents you
                  will need to supply with your visa application.  
  
              <h2 class="mb-3">Applying for your visa online</h2>
                You need to apply for your student visa online through Immigration New Zealand – the process
                 is the same whether you are in New Zealand or overseas.  
                 <br>
                  Go to Immigration Online. You need to create a RealMe account to be able to apply for
                   your student visa online. Follow the instructions given. If you are not eligible to apply 
                   online, Immigration NZ will direct you to apply using a paper form.  
                <br>
                
                Before applying, please check the visa checklist if you applying for student visa for the first time: <br>
                <a href="https://www.immigration.govt.nz/documents/checklists/first-time-student-visa-application-checklist.pdf?_ga=2.207157585.391740053.1574711835-288367170.1555281702">First time student visa checklist</a><br>
                <a href="https://online.immigration.govt.nz/igms/online">Immigration Online website</a>
                
              <br>
              <h5>What you need</h5>
                1. Passport quality photo of yourself, as a JPG file – check the Immigration New Zealand website for more details  
                2. Police, medical or x-ray certificates – you may need to supply these. Check the Immigration New Zealand website for more details  
                3. Scanned documents – listed in the section below  
                4. A debit or credit card to pay for your application online - check the Immigration New Zealand website for more details  
              <br>
              <a href="https://www.immigration.govt.nz/new-zealand-visas/apply-for-a-visa/tools-and-information/acceptable-photos">Passport photos (Immigration New Zealand website)</a><br>
              <a href="https://www.immigration.govt.nz/new-zealand-visas/apply-for-a-visa/tools-and-information">Police and medical certificates (Immigration New Zealand website)</a><br>
              <a href="https://www.immigration.govt.nz/new-zealand-visas/apply-for-a-visa/tools-and-information/tools/office-and-fees-finder">Application fees and office finder (Immigration New Zealand website) </a><br>
            <h2 class="mb-3">Documents you need to provide</h2>
            <br>
              
              You need to scan and save the following documents as PDFs, so you can upload them when you complete your application.
              
            <br>
            <h5>All students</h5>
            <br>
              
              All students must upload the following documents with their application.
              If you are a PhD student or a returning AUT student, you need to provide some extra documents – these are described in the next sections.
              
            <br>
              1. Bio-page of your passport (page that shows your photo and date of birth details, etc). 
              Check that your passport is not going to expire within the next six months.  
            <br>
              
              2. Offer of Place
              
            <br>
              
              3. Evidence that you have paid your international tuition fees. You need to supply one of these documents:<br>
              <ul>
                <li>University receipt or payment acknowledgement letter </li>
                <li>Scholarship confirmation letter</li>
                <li>Financial guarantee</li>
              </ul>
              
            <br>
              
              4. Attendance confirmation from your previous institute of study if you are new applicant. If you are a returning student you do not need to provide this.
              
            <br>
              
              5. Proof of living expenses: you need to show you have access to at least NZ$15,000 for one year or NZ$7,500 for one semester.
               You need to supply one of these documents:
               <ul>
                  <li>A financial guarantee or scholarship letter indicating you are fully funded for the duration of your study</li>
                  <li>A bank statement in your name only, with three months of transaction history (Immigration New Zealand does not
                     accept a printout of a balance only) and not older than three days at the time of your visa application</li>
                    <li>A completed Sponsorship Form (INZ1025) from a sponsor who is a New Zealand resident or citizen, filled out by 
                      the same person who completed this form for your previous student visa application before you arrived in New Zealand</li>
                  <li>A completed Financial Undertaking Form (INZ1014) filled out by the same person who completed this form for your 
                    previous student visa application before you arrived in New Zealand</li>
               </ul>
              
            <br>
            <a href="https://www.immigration.govt.nz/new-zealand-visas/apply-for-a-visa/tools-and-information/forms-and-guides/study">Study forms and guides on Immigration New Zealand website</a>
            <br>
            <h5>Returning students</h5>
              
              If you are a returning student you need to include some extra documents with your application:
              <br>
              1. Confirmation of enrolment letter   <br>
              
              2. Academic results for the period of study since your previous student visa was issued 
              <br>
              
              3. Letter of Explanation: if you are a returning student and you have unsatisfactory academic results, 
              you need to upload a letter of explanation under 'Other documents'. Your letter of explanation should be 
              addressed to Immigration New Zealand. Describe what affected your study and how you intend to achieve better 
              academic results this time 
              
            <h5>Doctor of Philosophy (PhD) students</h5><br>
              
              If you are a PhD student you must include some extra documents with your application. You can upload these under the 'Other' section in your application:
              <br>
              
              1. Thesis title (abstract) and the names of all your supervisors
              <br>
              
              2. Progress update (recent PGR approval)
              <br>
              
              3. Updated CV
              
            <br>
            <h2 class="mb-3">Documents you need to provide</h2>
              
              You need to scan and save the following documents as PDFs, so you can upload them when you complete your application.
              <br>
  
            <h5>All Students</h5>
              
              All students must upload the following documents with their application.
               If you are a PhD student or a returning AUT student, you need to provide some extra documents – these are described in the next sections.
              <br>
              
              1. Bio-page of your passport (page that shows your photo and date of birth details, etc). Check that your passport is not going to expire within the next six months.
              <br>
              
              2. Offer of Place
              
              
              3. Evidence that you have paid your international tuition fees. You need to supply one of these documents:
              <ul>
                <li>University receipt or payment acknowledgement letter </li>
                <li>Scholarship confirmation letter</li>
                <li>Financial guarantee</li>
              </ul>
              <br>
              
              4. Attendance confirmation from your previous institute of study if you are new applicant. If you are a returning student you do not need to provide this.
              <br>
              
              5. Proof of living expenses: you need to show you have access to at least NZ$15,000 for one year or NZ$7,500 for one semester.
               You need to supply one of these documents:
               <ul>
                 <li>A financial guarantee or scholarship letter indicating you are fully funded for the duration of your study</li>
                 <li>A bank statement in your name only, with three months of transaction history (Immigration New Zealand does not accept a printout of a balance only)
                    and not older than three days at the time of your visa application</li>
                  <li>A completed Sponsorship Form (INZ1025) from a sponsor who is a New Zealand resident or citizen, 
                    filled out by the same person who completed this form for your previous student visa application before you arrived in New Zealand</li>
                  <li>
                    A completed Financial Undertaking Form (INZ1014) filled out by the same person who completed this
                     form for your previous student visa application before you arrived in New Zealand
                  </li>
               </ul>
              <br>
            <a href="https://www.immigration.govt.nz/new-zealand-visas/apply-for-a-visa/tools-and-information/forms-and-guides/study">Study forms and guides on Immigration New Zealand website</a>
            <br>
            <h5>Returning students</h5><br>
              
              If you are a returning student you need to include some extra documents with your application:
              <br>
              
              1. Confirmation of enrolment letter
              <br>
              
              2. Academic results for the period of study since your previous student visa was issued 
              <br>
              
              3. Letter of Explanation: if you are a returning student and you have unsatisfactory academic results,
               you need to upload a letter of explanation under 'Other documents'. Your letter of explanation should be addressed 
               to Immigration New Zealand. Describe what affected your study and how you intend to achieve better academic results this time 
              
            <br>
            <h5>Doctor of Philosophy (PhD) students</h5><br>
              
              If you are a PhD student you must include some extra documents with your application. 
              You can upload these under the 'Other' section in your application:
              <br>
              1. Thesis title (abstract) and the names of all your supervisors  <br>
              2. Progress update (recent PGR approval)  <br>
              3. Updated CV  
            <br>
            <h2>After you apply</h2>
              
              When you submit your online application the status will change to “submitted”. You can log in at any time to check the status of your application.
              <br>
            <h5>Check your email often</h5><br>
              
              You should regularly check your email inbox as Immigration New Zealand may ask you to provide other documents.
              <br>
            <h5>Your application outcome</h5><br>
              
              Immigration New Zealand will issue you with an outcome on your application. If you are issued with an eVisa
               they will send it to your email. You should print out your eVisa and keep it with your passport at all times. You will not be issued a visa label.
              
            <br>
            <h5>Send a copy of your visa to us to provide to your university</h5><br>
              If you already have your updated visa or have had an interim visa sent to you by email, please provide a copy to us as soon as possible.   
            <br>
            <h2>Why you need a valid student visa</h2><br>
              
              The New Zealand Government requires all international students to have a valid student visa for the duration of their academic study in New Zealand Universities.
              <br>
              <br>
              You need a valid student visa to complete your enrolment. It should show the correct programme and institute of study details.
               It is your responsibility to ensure that your visa or permit is valid throughout the duration of your study.
              <br>
              
              There are consequences of not having a valid visa to study in New Zealand Universities.
              
            <br>
            <h5>What happens if you don't have a valid visa</h5><br>
              
              If you do not provide a valid visa you will not have access to education services at any University in New Zealand and risk being removed from your programme of study.
              <br>
            <h2>Medical and travel insurance</h2><br>
              
              All international students enrolled at Universities of New Zealand are required by The Education (Pastoral Care of International Students) Code of Practice 2016,
               to have compliant medical and travel insurance for the length of their visa and period of study.
              <br>
            <h2>As an international student:</h2><br>
              
              <ul>
                <li>You must have appropriate medical and travel insurance to meet the requirements of your visa. 
                  Your insurance must cover your full period of study and travelling to and from New Zealand</li>
                  <li>
                    You’re automatically covered by the Studentsafe Inbound University policy wording during your study
                  </li>
                  <li>
                    Full-year students pay an annual premium and part-year students pay a proportion of the annual premium. 
                    The premium is paid to AUT and it may change from year to year.
                  </li>
              </ul>
              
            <br>
            <h2>Arranging Studentsafe insurance</h2><br>
              
              AUT has appointed insurance brokers Marsh Limited to manage our Studentsafe-University insurance plan, which is insured by Allianz.
              <br>
            <h5>Cost (annual premium for 2021)</h5><br>
              
              <ul>
                <li>Student insurance: NZD $670.00</li>
                <li>Family insurance: NZD $1675.00 (includes student, spouse and dependent children)</li>
                <li>Couple rate: NZD $1340.00 (includes student and spouse or child)</li>
              </ul>
              
            <br>
            <h5>Arranging additional insurance cover for your family</h5><br>
              
              You can apply for cover for your spouse and any dependent children who are travelling with you to New Zealand for the duration of your study.
              <br>
              
              If you don't have insurance cover for your family, all medical expenses including hospital treatment will be at your own cost.
              <br>
            <h5>How to apply for insurance cover for your family</h5>
              
              <ul>
                <li>Download a Family Application Form from the Insurancesafe website</li>
                <li>Complete the Family Application Form</li>
                <li>Scan and email it to studenthub@aut.ac.nz no later than the Friday before you start your study at AUT</li>
              </ul>
              <br>
            <a href="https://www.insurancesafenz.com/studentsafe/student-safe-inbound-university">Insurancesafe website</a><br>
              
              Make sure you read the policy wording in full before applying to ensure it will meet your needs.
              <br>
              
              <ul>
                <li>This cover must coincide with the enrolment dates of your study</li>
                <li>The Family Application Form will not be accepted, once you commence your enrolment at AUT.</li>
                <li>Enrolled students returning to AUT for a subsequent enrolment period also need to fill in the Family Application
                   Form before their previous family insurance cover expires, or no later than the Friday before the start of the subsequent enrolment period</li>
              </ul>
              
            <h5>Cover start and end dates</h5>
            <ul>
              <li>As a new student your insurance will start 31 days prior to 
                the course start date including transit from your country of origin to New Zealand, or any date that has been agreed in writing</li>
                <li>For the majority of students, insurance cover will end upon arrival in your country of origin following completion of your course of study, or</li>
                <ul>
                  <li>150 days following your course end date or to the expiry date of your student visa (whichever is earlier) provided you have paid an annual premium 
                    in your final year of study, or</li>
                    <li>You being repatriated under this policy to your country of origin, or</li>
                    <li>Withdrawing from your course of study and leaving New Zealand, or</li>
                    <li>Any date otherwise agreed by Studentsafe or notified to you in writing, or</li>
                    <li>Whichever happens first.</li>
                </ul>
  
            </ul>
            <br>
              Note: Returning students insured under this policy are covered between semesters of enrolment. 
              <a href="https://www.aut.ac.nz/__data/assets/pdf_file/0005/337055/SFUB.5.Studensafe_Inbound_Uni_DL_AUT_-_Web.pdf">For more information, download the Studentsafe brochure.</a>  
            <h5>How to be reimbursed for expenses on an insurance claim</h5>
              You can fill in a Studentsafe claim form online.  <br>
              <a href="https://www.insurancesafenz.com/claimsportal">Start an online insurance claim</a>  
            <h5>Find out more about Studentsafe insurance</h5>
              
              <ul>
                <li>Phone 0800 486 004 or +64 9 488 1638</li>
                <li><a href="https://www.insurancesafenz.com/studentsafe/student-safe-inbound-university">Insurancesafe website</a></li>
                <li><a href="https://www.insurancesafenz.com/files/PDF/SFUB.6._Studentsafe_Inbound_Uni_(WEB)_AUT.pdf">Download Studentsafe brochure</a></li>
              </ul>
              
            <h2>Arranging insurance through other approved insurance providers</h2><br>
              If you purchase an alternative insurance policy from a provider on the approved list,
               make sure the insurance cover is for the length of your student visa, and your insurance 
               covers your time studying in, and travelling to and from New Zealand.  <br>
              
              You need to provide proof of your alternative approved insurance policy (English translation only) by 
              emailing studenthub@aut.ac.nz no later than the Friday before you start your study at AUT.
              
            <br>
            <h5>Approved medical and travel insurance providers</h5><br>
              
              <ul>
                <li> 	InterGlobal – StudentCare Plan (NZ)</li>
                <li> 	Uni-Care Ltd (NZ) – NZ Student Plan</li>
                <li> 	Southern Cross International Student Travel Insurance - Type: Individual</li>
                <li> 	OrbitProtect – Prime Plan</li>
                <li> 	U.M. Association Limited (UK)</li>
                <li> 	AON Protect (UK)</li>
                <li> 	Swedish State (Sweden) – Student UT Plan</li>
                <li> 	Europeiske Norway</li>
                <li> 	Europeiske Reiseforsikring </li>
                <li> 	EUROPAEISCHE Reiseversicherungs AG</li>
                <li> 	Gouda Travel Insurance (Sweden)</li>
                <li> 	Gouda Reseforskring (CSN Insurance for Study Abroad)</li>
                <li> 	Gouda Reseforskring / Gouda Travel Insurance (Norway/Denmark/Sweden)</li>
                <li> 	ACE Europe</li>
                <li> 	Gjensidige Travel Insurance (Norway)</li>
                <li> 	ANSA (AIG) Student Insurance (Norway)</li>
                <li> 	BUPA Student Travel Insurance (Denmark)</li>
                <li> 	RUNA – (Denmark)</li>
                <li> 	ETU Forskring (Denmark)</li>
                <li> 	TRYG (Denmark)</li>
                <li> 	SafeAway (Denmark)</li>
                <li> 	EUROPEISKA –ERV</li>
                <li> 	AON Protect Student Insurance</li>
                <li> 	Allianz Reiseversicherung</li>
              </ul>
              
            </div> <!-- .col-md-8 -->
          </div>
        </div>
      </section> <!-- .section -->