<div class="hero-wrap hero-wrap-2" style="background-image: url('../../assets/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-center">
        <div class="col-md-9    pb-5 text-center">
          <h1 class="mb-3 bread">Events and Functions</h1>
        </div>
      </div>
    </div>
  </div>
     
  <div class="ftco-div ftco-no-pt ftco-no-pb">
      <div class="container">
          <div class="row d-flex">
              <div class="col-md-6 d-flex">
                  <div class="img d-flex align-self-stretch align-items-center justify-content-end" style="background-image:url(../../assets/about.jpg);">
                      <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
                          <span class="icon-play"></span>
                      </a>
                  </div>
              </div>
              <div class="col-md-6 px-5 py-5">
                  <div class="row justify-content-start pt-3 pb-3">
                <div class="col-md-12 heading-div   ">
                    <span class="subheading">About us</span>
                  <h2 class="mb-4">Brief description here</h2>
                   Far far away, behind the word mountains, far from the countries Vokalia and Consonantia 
                   A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. 
                   Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. 
                    
                  <div class="years d-flex">
                      <h4 class="number mr-2" data-number="40">0</h4>
                      <h4>Years of Experience</h4>
                  </div>
                </div>
              </div>
          </div>
      </div>
      </div>
  </div>