
    <div class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9    pb-5 text-center">
              <h1 class="mb-3 bread">Massey University</h1>
            </div>
          </div>
        </div>
      </div>
  
      <div class="ftco-div ftco-degree-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-8   ">
                 
                <img src="../../images/image_1.jpg" alt="" class="img-fluid">
               
              <h3>Vice Chancellor</h3>
               Professor Jan Thomas <br>
  
              <h3>Location/Campuses</h3>
               <ul>
                <li>Auckland</li>
                <li>Manawatū</li>
                <li>Wellington</li>
                <li>Distance learning</li>
              </ul> <br>
  
              <h3>Date Established</h3>
               1927 <br>
  
              <h3>Numbers of Students</h3>
               <ul>
                <li>Student headcount: 31,501 </li>
                <li>Equivalent full-time students: 18,944</li>
              </ul> <br>
              <h3>Specialisation/s</h3>
               
                <ul>
                  <li>5 star rating across 9 categories</li>
                    <li>Top 3% of universities in the world</li>
                      <li>Top 300 in the world for graduate employability</li>
                      <li>25th in the world for veterinary science (and 3rd in Oceania)</li>
                      <li>30th in the world for agriculture (and 3rd in Oceania)</li>
                      <li>Top 100 in the world for nursing</li>
                      <li>Top 100 in the world for accounting and finance</li>
                      <li>Total of 15 subjects ranked in the top 300 in the world</li>
                      <li>38th in the world for internationalisation</li>
                </ul>
               <br>
               
                Massey University, established in 1927, is one of New Zealand’s leading educational
  institutions. A Government-funded university, with a proud 90-year tradition of academic
  excellence and a strong national and international reputation. Massey University is an
  important part of New Zealand’s tertiary education system.
               <br>
               
                With campuses in Albany (Auckland), Manawatū (Palmerston North) and Wellington,
  Massey caters for nearly 30,000 domestic and international students. Programmes
  offered are available at postgraduate, undergraduate, diplomas or certificate level.
               
            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar   ">
              <div class="sidebar-box">
              </div>
          </div>
        </div>
      </div> <!-- .div -->
  
      <div class="ftco-div ftco-no-pt ftco-no-pb bg-primary">
        <div class="container py-4">
          <div class="row d-flex justify-content-center">
            <div class="col-md-7    d-flex align-items-center">
            </div>
            <div class="col-md-5 d-flex align-items-center">
              <form action="#" class="subscribe-form">
                <div class="form-group d-flex">
                  <input type="submit" value="Download a Guide Book" class="submit px-3 mr-2">
                  <input type="submit" value="Ask an Advisor" class="submit px-3">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>