<div class="hero-wrap js-fullheight" style="background-image: url('../../assets/bg_1.jpg');height:745px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container-fluid px-md-5">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
        <div class="col-md-6 ftco-animate">
            <h2 class="subheading">Student Liabilty &amp; Job Guaranteed</h2>
          <h1 class="mb-4">The Greatest &amp; Strongest Recrutiment You Can Trust</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="ftco-div ftco-no-pb ftco-no-pt services-div" style="background-color: white;opacity: 65%;">
		<div class="container-fluid px-md-5 py-3">
		  <div class="row py-4 d-flex">
			<div class="wrap">
				<div class="search">
				   <!--<input type="text" class="searchTerm" placeholder="What are you looking for?">
				   <button type="submit" class="searchButton">
					 <i class="fa fa-search"></i>
				  </button>-->
				</div>
			 </div>		  </div>
		</div>
	  </div>
		 
	  <div class="ftco-div bg-light">
		<div class="container">
		  <div class="row justify-content-center mb-5 pb-3">

		  </div>
		  <div class="row d-flex">
			<div class="col-md-4 d-flex ">
				<div class="blog-entry justify-content-end">
				<a href="" class="block-20" style="background-image: url('../../assets/image_1.jpg');">
				</a>
				<div class="text p-4 float-right d-block">
				  <h3 class="heading mt-2"><a href="#">Students</a></h3>
				   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				   
				</div>
			  </div>
			</div>
			<div class="col-md-4 d-flex ">
				<div class="blog-entry justify-content-end">
				<a href="" class="block-20" style="background-image: url('../../assets/image_2.jpg');">
				</a>
				<div class="text p-4 float-right d-block">
				  <h3 class="heading mt-2"><a href="#">Teachers</a></h3>
				   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				   
				</div>
			  </div>
			</div>
			<div class="col-md-4 d-flex    ">
				<div class="blog-entry">
				<a href="" class="block-20" style="background-image: url('../../assets/image_3.jpg');">
				</a>
				<div class="text p-4 float-right d-block">
				  <h3 class="heading mt-2"><a href="#">Partnership</a></h3>
				   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				   
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
  
	  <div class="ftco-gallery">
		  <div class="container-wrap">
			  <div class="row no-gutters">
					  <div class="col-md-2">
						  <a href="../../assets/image_1.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../../assets/image_1.jpg);">
							  <div class="icon mb-4 d-flex align-items-center justify-content-center">
							  <span class="icon-instagram"></span>
						  </div>
						  </a>
					  </div>
					  <div class="col-md-2 ">
						  <a href="../../assets/image_2.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../../assets/image_2.jpg);">
							  <div class="icon mb-4 d-flex align-items-center justify-content-center">
							  <span class="icon-instagram"></span>
						  </div>
						  </a>
					  </div>
					  <div class="col-md-2 ">
						  <a href="../../assets/image_3.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../../assets/image_3.jpg);">
							  <div class="icon mb-4 d-flex align-items-center justify-content-center">
							  <span class="icon-instagram"></span>
						  </div>
						  </a>
					  </div>
					  <div class="col-md-2 ">
						  <a href="../../assets/image_4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../../assets/image_4.jpg);">
							  <div class="icon mb-4 d-flex align-items-center justify-content-center">
							  <span class="icon-instagram"></span>
						  </div>
						  </a>
					  </div>
					  <div class="col-md-2 ">
						  <a href="../../assets/image_4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../../assets/image_5.jpg);">
							  <div class="icon mb-4 d-flex align-items-center justify-content-center">
							  <span class="icon-instagram"></span>
						  </div>
						  </a>
					  </div>
					  <div class="col-md-2 ">
						  <a href="../../assets/images/image_5.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../../assets/image_5.jpg);">
							  <div class="icon mb-4 d-flex align-items-center justify-content-center">
							  <span class="icon-instagram"></span>
						  </div>
						  </a>
					  </div>
		  </div>
		  </div>
	  </div>
  


    

    