    
    <div class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9    pb-5 text-center">
              <h1 class="mb-3 bread">University of Waikato</h1>
            </div>
          </div>
        </div>
    </div>
  
    <div class="ftco-div ftco-degree-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-8   ">
                 
                <img src="../../images/image_1.jpg" alt="" class="img-fluid">
               
              <h3>Vice Chancellor</h3>
               Professor Neil Quigley <br>
  
              <h3>Location/Campuses</h3>
               <ul>
                <li>Hamilton</li>
                <li>Tauranga</li>
              </ul> <br>
  
              <h3>Date Established</h3>
               1964 <br>
  
              <h3>Numbers of Students</h3>
               <ul>
                <li>Student headcount: 12,278 </li>
                <li>Equivalent full-time students: 10,018</li>
              </ul> <br>
  
               
                The University of Waikato focuses on the quality of our teaching and the learner
  experience; with smaller class sizes, students receive greater flexibility and support
  from their lecturers.
               <br>
               
                The university fosters a collaborative environment through workshops and tutorials as
  part of the learning process, and the engagement of students on campus in vibrant
  learning environments is a key aspect of their learning experience.
               <br>
               
                Their flexible degree structures mean students can study a broad range of subjects to
  shape a qualification that matches their strengths and career interests.
               <br>
               
                The university makes sure all their students are industry-ready through Work Integrated
  Learning modules. This hands-on experience with potential future employers ensures
  students stand out to future employers.
               <br>
               
                The university stands proudly on the world stage as a provider of future-focused
  education and is an active player in global research with their rankings reflecting these
  strengths:
  <ul>
    <li>Education</li>
    <li>Waikato Management School (Triple Crown status: accredited
      by AACSB, EQUIS and AMBA)
    <ul>
      <li>Tourism and Hospitality Management</li>
      <li>Accounting and Finance</li>
      <li>Business and Management studies</li>
      <li>Communication and Media studies</li>
      <li>Economics</li>
    </ul></li>
    <li>Sciences
      <ul>
        <li>Computer Science (iSchools Member)</li>
        <li>Environmental Sciences</li>
        <li>Engineering (New Zealand Accredited)</li>
      </ul>
    </li>
    <li>Arts and Social Sciences
      <ul>
        <li>Sociology</li>
        <li>Psychology</li>
      </ul>
    </li>
  </ul>
               <br>
  
  
            </div> <!-- .col-md-8 -->

        </div>
    </div>
  
      <div class="ftco-div ftco-no-pt ftco-no-pb bg-primary">
        <div class="container py-4">
          <div class="row d-flex justify-content-center">
            <div class="col-md-7    d-flex align-items-center">
            </div>
            <div class="col-md-5 d-flex align-items-center">
              <form action="#" class="subscribe-form">
                <div class="form-group d-flex">
                  <input type="submit" value="Download a Guide Book" class="submit px-3 mr-2">
                  <input type="submit" value="Ask an Advisor" class="submit px-3">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>