  
    <div class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9    pb-5 text-center">
              <h1 class="mb-3 bread">University of Otago</h1>
            </div>
          </div>
        </div>
      </div>
  
      <div class="ftco-div ftco-degree-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-8   ">
                 
                <img src="../../images/image_1.jpg" alt="" class="img-fluid">
               
              <h3>Vice Chancellor</h3>
               Professor Helen Nicholson [Acting] <br>
  
              <h3>Location/Campuses</h3>
               <ul>
                <li>Dunedin Campus</li>
                <li>Christchurch Campus</li>
                <li>Wellington Campus</li>
                <li>Auckland Campus</li>
                <li>Southland Campus</li>
              </ul> <br>
  
              <h3>Date Established</h3>
               1867 <br>
  
              <h3>Numbers of Students</h3>
               <ul>
                <li>Student headcount: 20,796</li>
                <li>Equivalent full-time students: 18,531</li>
              </ul> <br>
              <h3>Specialisation/s</h3>
               
                <ul>
                  <li>Otago is the only New Zealand university to offer Dentistry and Surveying.</li>
                    <li>One of only two medical schools in New Zealand.</li>
  
                </ul>
               <br>
              <h3>Rankings / awards</h3>
               
                <ul>
                  <li>Unmatched record in the National Teaching Excellence Awards: Five Supreme
                    Award winners in successive years and seven over the last 14 years.</li>
                    <li>Tops three of the four key measures of students’ educational performance at
                      New Zealand’s universities, based on the Tertiary Education Commission’s
                      Educational Performance Indicators for 2015.</li>
                      <li>Otago performs most strongly in the QS World University Rankings, placing
                        169th in the world.</li>
                        <li>Otago holds the highest placing for an individual subject in these rankings of any
                          NZ university, with its School of Dentistry ranked 12th in the world in the most
                          recent QS subject rankings.</li>
                          <li>
                            Psychology at Otago ranked 38th in the same exercise, and in total the
  University achieved 13 subjects in the global top 100, and a further 11 subjects
  between 101st and 200th in the world.
                          </li>
                </ul>
               <br>
               
                Founded in 1869, Otago is New Zealand’s first university. It enjoys a worldwide
  reputation for excellence, successfully balancing the traditions of its history with modern
  scholarship and research.
               <br>
               
                Otago places well inside the top 300 of the more than 10,000 universities worldwide in
                all the major international rankings, and is the second placed New Zealand university
                overall in all of these rankings.
               <br>
               
                It offers a unique campus lifestyle, creating a culture of learning that reflects the special
  characteristics of New Zealand together with international academic values.
  <ul>
    <li>Student surveys show overwhelming satisfaction with services provided. (99%
      with campus safety; 98% with sport and recreation facilities; 96% with libraries;
      96% with administration and support; 96% with residential colleges).</li>
      <li>Recognised as one of the 16 most beautiful campuses in the world.</li>
      <li>96% of students provided a positive assessment of the general campus
        environment.</li>
        <li>Tops three of the four key measures of students’ educational performance at
          New Zealand’s universities, based on the Tertiary Education Commission’s
          Educational Performance Indicators for 2015.</li>
  </ul>
               <br>
  
  
            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar   ">
              <div class="sidebar-box">
  
              </div>
  
  
  
  
          </div>
        </div>
      </div> <!-- .div -->
  
      <div class="ftco-div ftco-no-pt ftco-no-pb bg-primary">
        <div class="container py-4">
          <div class="row d-flex justify-content-center">
            <div class="col-md-7    d-flex align-items-center">
            </div>
            <div class="col-md-5 d-flex align-items-center">
              <form action="#" class="subscribe-form">
                <div class="form-group d-flex">
                  <!--<input type="submit" value="Download a Guide Book" class="submit px-3 mr-2">
                  <input type="submit" value="Ask an Advisor" class="submit px-3">-->
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>