.ml-145 {
  margin-left: -145px;
}
.ml-336 {
  margin-left: -336px;
}

.width-96 {
  width: 96%;
}

.signature-container {
  border-style: dashed;
  border-width: 1px;
  margin-bottom: 20px;
  background-color: lightgray;
}

.buttons {
  float: right;
  button {
    margin-right: 10px;
    padding: 2px;
    background-color: lightgray;

    border-radius: 5px;
  }
}

