<div class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end justify-content-center">
        <div class="col-md-9    pb-5 text-center">
          <h1 class="mb-3 bread">AUT University</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="ftco-div ftco-degree-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-8   ">
             
            <img src="../../images/image_1.jpg" alt="" class="img-fluid">
           
          <h3>Vice Chancellor</h3>
           Derek McCormack <br>

          <h3>Location/Campuses</h3>
           <ul>
            <li>AUT South Campus</li>
            <li>AUT North Campus</li>
            <li>AUT City Campus</li>
          </ul> <br>

          <h3>Date Established</h3>
           2000 <br>

          <h3>Numbers of Students</h3>
           <ul>
            <li>Student headcount: 29,014 </li>
            <li>Equivalent full-time students: 19,971</li>
          </ul> <br>
          <h3>Specialisation/s</h3>
           
            <ul>
              <li>Design, Computing and Technology</li>
                <li>New Zealand&#39;s only university included in the Times Higher Education’s top 200
                  world universities (at 165= in 2016-2017)</li>
                  <li>Health and Environmental Sciences</li>
                  <li>Culture and Society</li>
                  <li>Business, Economics and Law</li>
                  <li>Māori and Indigenous Development</li>
            </ul>
           <br>

          <h3>Rankings / awards</h3>
           
            <ul>
              <li>1st in Australasia and Top 20 worldwide for International Outlook (Times Higher
                Education)</li>
                <li>Top 150 Universities under 50 years old (Times Higher Education)</li>
                  <li>Top 450 universities in the world (QS World University Rankings)</li>
                  <li>Top 60 under 50 years old (QS Top 50 under 50)</li>
                  <li>Five subjects ranked in top 250 in the world (QS World University Rankings by
                    Subject)</li>
                  <li>AUT is rated as a five-star university by QS with a maximum five stars for
                    Teaching, Employability, Internationalisation, Facilities and Inclusiveness</li>
            </ul>
           <br>
           
            Research is a key focus for Auckland University of Technology (AUT). AUT delivers
nationally leading research in several areas, and value research collaboration with local
and international organisations and communities. The university constantly creates new
opportunities to collaborate on research that matters, and their range of diverse
research facilities helps attract research partners, research projects and research
funding, as well as providing opportunities for postgraduate students.
           <br>
          

        </div> <!-- .col-md-8 -->
        <div class="col-lg-4 sidebar   ">
          <div class="sidebar-box">

          </div>




      </div>
    </div>
  </div> <!-- .div -->

  <div class="ftco-div ftco-no-pt ftco-no-pb bg-primary">
    <div class="container py-4">
      <div class="row d-flex justify-content-center">
        <div class="col-md-7    d-flex align-items-center">
        </div>
        <div class="col-md-5 d-flex align-items-center">
          <form action="#" class="subscribe-form">
            <div class="form-group d-flex">
              <input type="submit" value="Download a Guide Book" class="submit px-3 mr-2">
              <input type="submit" value="Ask an Advisor" class="submit px-3">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>