
	<div class="hero-wrap hero-wrap-2" style="background-image: url('../../assets/bg_1.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9    pb-5 text-center">
                <h1 class="mb-3 bread">Tutoring</h1>
            </div>
        </div>
    </div>
</div>
<div class="ftco-div ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 px-5 py-5">
                <div class="row justify-content-start pt-3 pb-3">
                    <div class="col-md-12 heading-div   ">
                         
                            We want to make sure we offer the best services to all our students. our mission is to make sure
                            students achieve their goals in studying in New Zealand. we believe with the right people support all
                            our students are capable of achieving anything.
                            Tell us with what subject do you need help, and we can arrange a tutor to help you achieve it.  


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ftco-div ftco-no-pt ftco-no-pb">

    <div class="container py-4" style="margin-left:25%">
        <div class="row d-flex">
            <div class="col-md-5 d-flex align-items-center">
                <form action="/action_page.php">
                    <label for="fname">Select Subject:</label><br>
                    <select style="width:211px;">
                        <option>Maths</option>
                        <option>English</option>
                        <option>Science</option>
                    </select><br>
                    <label for="lname">Name:</label><br>
                    <input type="text" id="lname" name="lname"><br>
                    <label for="lname">Educational Level:</label><br>
                    <input type="text" id="lname" name="lname"><br>
                    <label for="lname">Select Preferred timings:</label><br>
                    <input type="text" id="lname" name="lname"><br>
                    <label for="lname">Area:</label><br>
                    <input type="text" id="lname" name="lname"><br>
                    <label for="lname">Email:</label><br>
                    <input type="text" id="lname" name="lname"><br>
                    <label for="lname">PHone Number:</label><br>
                    <input type="text" id="lname" name="lname"><br>
                    <label for="lname">Do you have any special requirements?:</label><br>
                    <input type="text" id="lname" name="lname"><br><br>
                    <input type="submit" class="submit btn btn-primary" value="Submit">
                </form>

            </div>
        </div>
    </div>
</div>